<div class="modal-header">
  <div class="modal-title">
    <h5 class="thin"><%= t ".create" %></h5>
  </div>
</div>
<div class="modal-content">
  <%= form_for object, html: {id: "form_add"} do |f|%>
    <%= f.label :category_name %>
    <%= f.text_field :category_name, class: "form-control" %>
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
    <%= link_to t(".createbtn"), "", class: "waves-effect btn waves-blue
      blue close create"%>
    <%= link_to t(".createandcontinue"), "",
      class: "waves-effect btn waves-red red close create-and-continue"%>
    <a class="modal-action modal-close waves-effect btn waves-red red
      close"><%= t(".closebtn") %></a>
  <% end %>
</div>
