<div class="modal-header">
  <div class="modal-title">
    <h5 class="thin"><%= t ".update" %></h5>
  </div>
</div>
<div class="modal-content">
  <%= form_for object, method: :put do |f|%>
      <%= f.label :category_name %>
      <%= f.text_field :category_name, class: "form-control" %>
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %>
      <%= f.submit t(".updatebtn"), class: "btn waves-effect waves-light" %>
      <%= link_to t(".closebtn"), "#", class: "modal-action modal-close waves-effect btn waves-red red close"%>
  <% end %>
</div>
