<div id="modal_<%= object.id %>" class="modal modal-fixed-footer">
  <div class="modal-content">
    <blockquote>
      <h4 class="condensed light">
        <%= t ".catname" %>
      </h4>
    </blockquote>
    <p class="light italic"><%= object.category_name %></p>
    <blockquote>
      <h4 class="condensed light">
        <%= t ".des" %>
      </h4>
    </blockquote>
    <p class="light italic"><%= object.description %></p>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat"><%= t ".closebtn" %></a>
    <a class="waves-effect waves-yellow btn yellow modal-trigger" onclick="close_modal('modal_<%= object.id %>')"
      data-target="modal_<%= object.id %>_update"><%= t ".updatebtn" %></a>
  </div>
</div>

<div id="modal_<%= object.id %>_update" class="modal modal-fixed-footer">
  <%= render "categories/edit", object: object %>
</div>
