<div id="modal_<%= object.id %>" class="modal modal-fixed-footer">
  <div class="modal-content">
    <blockquote>
      <h4 class="condensed light">
        <%= t ".catname" %>
      </h4>
    </blockquote>
    <p class="light italic"><%= object.category_name %></p>
    <blockquote>
      <h4 class="condensed light">
        <%= t ".des" %>
      </h4>
    </blockquote>
    <p class="light italic"><%= object.description %></p>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat"><%= t ".closebtn" %></a>
  </div>
</div>
